# Core LaTeX auxiliary files
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2

# Intermediate documents
*.dvi
*-converted-to.*
# The following rule might exclude image files if they are part of the project
# *.pdf

# Bibliography auxiliary files (BibTeX/Biber)
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml

# Build tool auxiliary files
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync

# Auxiliary and intermediate files from other packages
# minted package
_minted*
*.pyg

# glossaries package
*.acn
*.acr
*.glg
*.glo
*.gls
*.glsdefs

# listings package
*.lol

# makeidx package
*.idx
*.ilg
*.ind
*.ist

# nomencl package
*.nlo

# sagetex package
*.sagetex.sage
*.sagetex.py
*.sagetex.scmd

# Other packages
*.alg
*.loa
*.nav
*.pre
*.snm
*.vrb
*.soc
*.cpt
*.spl
*.ent
*.lox
*.maf
*.mlf
*.mlt
*.mtc*
*.slf*
*.slt*
*.stc*
*.upa
*.upb
*.pytxcode

# Folders
**/auto/**

# Editor-specific files
# Vim
*.swp
# VSCode
.vscode/